.card-wrapper {
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.closedcards-wrapper {
    padding-left: 7%;
    transition: padding-left 0.5s ease;
}

.opencard-wrapper {
    padding-left: 10%;
}

.opencard-container {
    margin-left: 7rem;
}


/* transition open/closed cards */

.double-width {
    width: 200%;
    transition: transform 2s ease;
}

.move-left {
    transform: translateX(-50%);
}

@media screen and (max-width: 1150px) {
    .closedcards-wrapper {
        padding-left: 2%;
    }
    .opencard-wrapper {
        padding-left: 2%;
    }
}

@media screen and (max-width: 700px) {
    .opencard-wrapper {
        flex-direction: column-reverse;
    }
    .opencard-container {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .move-left {
        transform: translateX(-55%);
    }
}