#portfolio {
    margin-bottom: 5rem;
}

.card-wrapper {
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.closedcards-wrapper,
.opencard-wrapper {
    width: 50%;
    padding-left: 2%;
    padding-right: 7%;
    transition: padding-left 0.5s ease;
}

.opencard-container {
    margin-left: 2rem;
}


/* transition open/closed cards */

.double-width {
    width: 200%;
    transition: transform 1.2s cubic-bezier(0.54, -0.01, 0.84, 1.12);
}

.move-left {
    transform: translateX(-50%);
}

@media screen and (max-width: 850px) {
    .opencard-wrapper {
        flex-direction: column-reverse;
        padding-left: 2%;
        padding-right: 10%
    }
    .opencard-container {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .closedcards-wrapper {
        padding-right: 10%;
    }
    .double-width {
        transition: transform 0.9s cubic-bezier(0.54, -0.01, 0.84, 1.12);
    }
}