.card-container {
    height: 50%;
    max-height: 50%;
    width: 20%;
    max-width: 20%;
    /* flex-grow: 1; */
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.card {
    background-color: white;
    height: 100%;
    justify-content: flex-end;
}

.card-img-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    align-items: center;
}

.card-img {
    width: 100%;
}