.portfolio-item-wrapper {
    margin-top: 1rem;
    flex: 1;
}

.portfolio-item {
    width: 100%;
    margin-bottom: 1em;
}

.item-text {
    font-family: 'Neuzeit S LT Book', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.item-date {
    position: fixed;
    margin-left: 2rem;
    left: 55%;
    font-weight: bold;
    transition: opacity 2s ease;
}

.item-link {
    color: rgba(0, 0, 0, 0.87);
}

.item-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.item-underline {
    height: 0.2rem;
    width: 100%;
    background-color: rgb(51, 51, 70);
    margin-bottom: 1em;
}

.thin-underline {
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.53);
}

.dev-icon {
    font-size: 30px !important;
    margin-right: 5px;
}

@media screen and (max-width: 1150px) {
    .item-date {
        position: initial;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .tools-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .portfolio-item-wrapper {
        margin-left: 2rem;
    }
    .dev-icon {
        font-size: 26px !important;
    }
}