html,
body,
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root,
.full-height {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 300%
}

.bg-hero {
    background-color: #AB5D5D;
}

.bg-portfolio {
    background-color: #6A6AC0;
}

.bg-about {
    background-color: #5E7D5E;
}

.fade {
    -webkit-backface-visibility: hidden;
    transition: background-color 2s ease;
}