.nav {
    flex: inherit;
    width: 10%;
    min-width: 50px;
}


/* icons  */


/* .icon-mail:after {
    content: "\e659";
}

.icon-arrowdown:before {
    content: "\e619";
} */


/* icon positions */

.fixed {
    position: fixed;
}

.fixed a {
    color: rgba(0, 0, 0, .65);
}

.fixed a:hover {
    color: rgb(0, 0, 0)
}

.fixed-bottom {
    bottom: 1rem;
}

.fixed-top {
    top: 2rem;
}


/* icon animation */

.flip {
    transform: rotate(180deg);
}

.transition-flip {
    transition: transform 0.5s cubic-bezier(0.75, 0.21, 0.65, 1.34);
    -webkit-transition: transform 0.5s cubic-bezier(0.75, 0.21, 0.65, 1.34);
    -moz-transition: transform 0.5s cubic-bezier(0.75, 0.21, 0.65, 1.34);
}