.nav {
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
}


/* icon positions */

.fixed {
    position: fixed;
}

.fixed a {
    color: rgba(0, 0, 0, .65);
}

.fixed a:hover {
    color: rgb(0, 0, 0)
}

.fixed-bottom {
    bottom: 0px;
    right: 0px;
    padding: 2rem;
}

.fixed-top {
    top: 0px;
    right: 0px;
    padding: 2rem;
}


/* icon animation */

.flip {
    transform: rotate(180deg);
}

.transition-flip {
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.75, 0.21, 0.65, 1.34);
    -webkit-transition: transform 0.5s cubic-bezier(0.75, 0.21, 0.65, 1.34);
    -moz-transition: transform 0.5s cubic-bezier(0.75, 0.21, 0.65, 1.34);
}

@media screen and (max-width: 320px) {
    .fixed-bottom {
        padding-right: 1rem;
    }
    .fixed-top {
        padding-right: 1rem;
    }
}